:root {
    --certo-blue: #4335DE;
    --certo-dark-blue: #02033B;
    --certo-yellow: #ffc107;
}

/* GLOBAL */
body {
    font-family: 'Inter', sans-serif;
}
/* NAVBAR */
.navbar {
    background: #E7EFFA;
}

.nav-link {
    font-weight: 600;
}
/* BUTTONS */
.btn-primary-certo {
    background: #4335DE;
    color: white;
    padding: 8px 20px;
    border-radius: 50px;
}

.btn-certo-yellow {
    background: #FFC247;
    padding: 15px 25px;
    border-radius: 50px;
    font-weight: bold;
}

.btn-outline-android {
    border: 2px solid #02033B;
    padding: 15px 25px;
    border-radius: 50px;
}

/* HERO */
.hero-section {
    display: flex;
    min-height: 90vh;
}

.hero-left {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 60px;
}

.hero-right {
    width: 50%;
    position: relative;
}
.hero-frame {
    background: #4335DE;
    height: 100%;
}

.hero-phone-layer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 250px;
}
hero-section {
    display: flex;
    min-height: 90vh;
}

.hero-left {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 60px;
}
.testimonials-section {
    background: #FFC247;
    padding: 60px 0;
}

.testimonial-card {
    background: white;
    padding: 30px;
    border-radius: 20px;
}
